<div id="main-header-container">
	<h1 id="main-header">News Scraper</h1>
</div>

<div id="view-articles-button-container">
	<div id="view-articles">Click here for articles</div>
</div>

<div id="front-page" class="hidden">
	<h2 id="newspaper-title">This is Your Hacker News!</h2>
	<p id="date"></p>
	<div id="article-display">
		<div id="article-title"></div>
		<div id="article-link"></div>
		<p class="dummy-text">Text Placeholder</p>
		<p class="dummy-text">Text Placeholder</p>
	</div>
	<div id="front-page-footer">
		<p class="footer-text" id="PLACEHOLDER">000000<p>

	</div>
</div>

<div id="note-display" class="hidden">
	<h4 id="note-title">Click on the article's <strong>title</strong> to add a note!</h4>
	<textarea id="note-body-input" name="note-body" rows="18" cols="40" disabled="true"></textarea><br>
</div>

<div id="iterate-buttons-container">
	<div id="next-article" class="hidden">Next</div>
	<div id="prev-article" class="hidden">Prev</div>
</div>